html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

h1, h2, h3 {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;

}

p{
    font-family: 'Raleway', sans-serif;
}


body{
    background: #2482A6;
}

header{
    
    grid-column-start:1 ;
    grid-column-end: 5;
}
main{
    background: rgb(234, 250, 255);
    grid-column-start:1 ;
    grid-column-end: 5;
}

.container-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 10vh 90vh;
}

.style_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 70px;
    padding-right: 70px;
}

.li_style_header{
    display: flex;

    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-weight: lighter;

    

}
.li_style_header ul a{

    padding: 12px;
    color: rgb(234, 250, 255);

}

.li_style_header ul a:hover{
    color: rgb(24, 57, 94);
}

a, li, ul {
    text-decoration: none;
    list-style-type: none;

    
}

.main-content{
    display: flex;

    align-items: center;
}